* {
    font-family: "Inter", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#qr_code:focus {
    outline: none !important;
    box-shadow: none !important;
    border-color: inherit !important;
}
.box img {
    width: 100%;
    height: auto;
}
.img-container {
    width: 100%;
    height: 150px;
    align-content: center;
}
.box {
    width: 250px;
    height: 250px;
    transition: scale 0.3s ease;
}

.box:hover {
    scale: 1.03;
}

.bg-white {
    background: #fff;
}

.menu {
    width: 250px;
    height: 100vh;
    position: fixed;
    top: 0;
    transition: 0.4s ease-in;
}

.menu .menu-item {
    border-bottom: 1px solid #f5f5f5;
    display: flex;
    align-items: center;
    min-height: 50px;

    padding-left: 15px;
    transition: 1s ease;
}
.submenu, .menu .menu-item {
    transition: 0.5s ease;
}
.menu .menu-item:hover,
.submenu:hover {
    /* border-left: 4px solid #3087ce; */
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.1);
}

.menu .logo-container {
    opacity: 1;
    transition: opacity 0.4s, max-width 0.4s;
    /* overflow: hidden; */
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: larger;
    font-weight: bolder;
    border-bottom: 2px solid #f5f5f5;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.menu .logo-container img{
    width: 100%;
    height: auto;
}

.menu .menu-icon {
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu .menu-icon {
    font-size: 20px;
}

.back-btn {
    cursor: pointer;
    transition: transform 0.1s ease-in, filter 0.2s ease;
    filter: drop-shadow(0 2px 8px rgba(0, 0, 0, 0.15));
    font-size: 30px;
    transform: rotate(-180deg);
}

#openBtn {
    left: 20px;
    top: 20px;
}
/* collapse */
.menu.menu-collapse {
    width: 80px;
}

.menu .menu-text {
    opacity: 1;
    max-width: 200px;
    transition: opacity 0.4s, max-width 0.4s;
    overflow: hidden;
    white-space: nowrap;
}

.menu .menu-text.menu-text-collapse {
    opacity: 0;
    max-width: 0;
    pointer-events: none;
}

.menu .menu-icon.menu-icons-big {
    font-size: 25px;
}

.logo-container.logo-collapse {
    opacity: 0;
    max-width: 0;
    transition: left 0.6s cubic-bezier(0.5, 0, 0.2, 1) !important;
    pointer-events: none;
    height: 70px;

}

.main {
    margin-left: 260px;
    transition: margin-left 0.6s cubic-bezier(0.5, 0, 0.2, 1);
    position: relative;
    z-index: 1;
}

.main.main-collapse {
    margin-left: 90px;
}

.fixed-top {
    left: 260px !important;
    transition: left 0.6s cubic-bezier(0.5, 0, 0.2, 1) !important;
}
.fixed-top.collapse-nav {
    left: 90px !important;
}

.transition .back-btn {
    transition: transform 0.3s;
}

.rotate-180 {
    transform: rotate(180deg);
}

.maintenance_container{
    height: 520px;
}
.maintenance_content {
    width: 100%;
    height: 350px;
    overflow-x: auto; /* show scrollbar only when needed */
}


